*{
    background:#F6F3ED;
}
.body::-webkit-scrollbar { 
    width: 0 !important 
}

/**********
    font 
**********/
a, li, p{
    font-family: 'Berthold Akzidenz Grotesk', sans-serif;
    font-weight: 300;
    color:#363636;
}

/**********
    header
**********/

header {
    width:100%;
    height: 10vh;
    display:flex;
    flex-direction:row;
    justify-content: center;
    padding-top:2%;
    font-size: 18px;
}

header nav{
    width:90%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
}

a, ul{
    text-decoration: none;


}

header nav ul {
    width:15%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

/**********
    links
**********/

.links-bar{
    position: absolute;
    width:10vw;
    height: 10vh;
    border-bottom:1px solid black;
}

.links-container{
    width:10%;
    display: flex;
	padding: 1rem;
	margin: 0.85rem;
	line-height: 1;
    color: black;
}

.links-container .links-content{
    display:flex;
    margin-left:18vh;
    margin-top:5vh;
}


.links-container .links-content a {
    margin-right: 5%;

}

/**********
    MAIN
**********/

.content-wrapper{


}
.container {
    position: fixed;
    left: 0;
    width: 100vh;
    height: calc(100vw);
    overflow: scroll;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: center calc(50vh);
            transform-origin: center calc(50vh);
  }

  /*remove scroll bar*/
  .container::-webkit-scrollbar { 
      width: 0 !important 
}
  
  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15em;
    width: 60vw;
    height: 80vh;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    /* border: 1px solid #333; */
    text-align: center;
  }

  .project-container{
    /* border:3px solid blue; */
    width:100%;
    height:100%;
    display:flex;
  }
  
  .project-container .project-content h1{
    padding-bottom: 2%;
    font-family: 'Tiempos Headline';
    font-weight:bold;
    font-size: 46px;
    transition:color 0.7s ease-out;
    /* border:3px solid olive; */
    text-align: start;
}


/**************************************************

    project description design or dev : left side

*************************************************/

.project-description{
    width:8%;
    /* border:2px solid red;     */
    display:flex;
    align-items: flex-end;

}

.project-description .description{
    display:flex;
    padding-bottom:25%;
    transform: rotate(-90deg) scaleX(-1)translateY(-90%) translateX(-60%);
}

.project-description .description p{
    margin-left:10%;
    font-family: 'Tiempos Headline';
    font-weight:bold;
    transform: scaleX(-1);
}

.project-content{
    width:92%;
    /* border:3px solid violet; */
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-description .design{
    display:flex;
    padding-bottom:25%;
    transform: rotate(-90deg) scaleX(-1)translateY(65%) translateX(-40%);
}


/**************************************************

    image date right side

*************************************************/

.image-date-container{
    display:flex;
    justify-content: flex-start;
}

.hyphenClick{
    width:46vw;
    height: 68vh;
    z-index: 999; 
    cursor: pointer;
}

.typoClick{
    width:46vw;
    height: 68vh;
    z-index: 999; 
    cursor: pointer;
}

.solarClick{
    width:46vw;
    height: 68vh;
    z-index: 999; 
    cursor: pointer;
}

.randomClick{
    width:46vw;
    height: 68vh;
    z-index: 999; 
    cursor: pointer;
}


.image-date-container .container-date{
    height: 12%;
    display:flex;
    align-items: flex-start;
    transform: rotate(90deg) translateY(30%) translateX(-20%);
    /* border: indianred solid 3px; */
}

  .image-date-container .container-date .date{
    /* border: mediumaquamarine solid 3px; */
    padding-bottom:15%;
}


.image-date-container .container-date  .date p{
    font-family: 'Tiempos Headline';
    font-weight:bold;
}




/***********************

        ANIMATION IMG

***************************/

.content-wrapper-animation{
    width:110vw;
    position: absolute;
    left:15px;
    top:-150px;
    z-index: 9999;
}

.width-image{
    width: 101vw;
    height: 75vh;
    object-fit: cover; 
}
.animation-image{    
    width:100%;
    position: absolute;
    left:0;
    margin:0;
    z-index: 999;
    animation : image-move 3s ease forwards;
    object-fit: cover; 
}

@keyframes image-move{
    0%{transform:translateY(0%);}
    60%{transition: transform 3s ease; transform:scale(1.4);}
    100%{transition: transform 4s ease; transform: translateY(-20px);}
}



/**************************************

        description project hidden

***************************************/
.description-container{
    visibility: hidden;
    position: absolute;
    bottom:0;
    left:0;
    width:100vw;
    height: 30vh;
    display:flex;
    align-items:flex-end;
    justify-content: center;
    flex-direction: column;
    background:#111111;
}

.content-container{
    width:80vw;
    display:flex;
    align-items: flex-end;
    background:#111111;
}

.description-container .content-container h3{
    margin-top:3.2%;
    font-family: 'Berthold Akzidenz Grotesk', sans-serif;
    font-weight: 500;
    color:#6C6C6C;
    width:30vw;
    height: 10vh;
    font-size:18px;
    display:flex;
    align-items: center;
    background:#111111;
}

.text{
    width:80vw;
    display:flex;
    align-items: flex-end;
    background:#111111;

}

.text p {
    padding-top:1.2%;
    width:30vw;
    height: 10vh;
    color:white;
    font-family: 'Berthold Akzidenz Grotesk', sans-serif;
    display:flex;
    align-items: center;
    background:#111111;
}




/*************** 
    cursor
****************/

/* .cursor {
    position: absolute;
    z-index: 999;
    pointer-events: none;
    transform: translateX(-50%) translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #313131;
    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.13, 1.04, 0.74, 1.07);
}


.cursor-around {
    position: absolute;
    z-index: 999;
    pointer-events: none;
    transform: translateX(-50%) translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #313131;
    background:none;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.13, 1.04, 0.74, 1.07);
}

 */



/*************** 
    responsive
****************/
@media screen and (min-width: 200px) and (max-width: 1024px) {
    .animation-image{
        display:none;
    }

    .width-image{
        display:none;
    }

    .content-wrapper-animation{
        display:none;
    }
  }